@page
@model CoronaTest.Web.Pages.CRUD.Kampagne.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Löschen</h1>

<h3>Sind Sie sicher?</h3>
<div>
    <h4>Kampagne</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.RowVersion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Campaign.Id" />
        <input type="submit" value="Löschen" class="btn btn-danger" /> |
        <a asp-page="./Index">Index</a>
    </form>
</div>
