@page
@model CoronaTest.Web.Pages.CRUD.Untersuchung.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Examination.Identifier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Examination.Identifier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Examination.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Examination.RowVersion)
        </dd>
    </dl>
</div>
<div>
    @*
    <a asp-page="./Edit" asp-route-id="@Model.Examination.Id">Bearbeiten</a> |
    *@
    <a asp-page="./Index">Index</a>
</div>
