@page
@model CoronaTest.Web.Pages.CRUD.Testzentrum.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Testzentrum</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCenter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCenter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCenter.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCenter.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCenter.Postalcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCenter.Postalcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCenter.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCenter.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCenter.SlotCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCenter.SlotCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCenter.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCenter.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TestCenter.Id">Bearbeiten</a> |
    <a asp-page="./Index">Index</a>
</div>
